<h1>Pipe example Application</h1>

<p>Hello World</p>

<label for="toBeTransformed">String to be transformed</label>
<input 
    type="text"
    name="toBeTransformed"
    id="toBeTransformed"
    [value]="toBeTransformed"
    (keyup)="toBeTransformed = $event.target.value"
>
<select 
    name="transformTo"
    id="transformTo"
    [value]="transformTo"
    (change)="transformTo = $event.target.value"
    >
    <option value="md5" selected>MD5</option>
    <option value="morse">Morse code</option>
</select>

<div *ngIf="toBeTransformed && transformTo">
    <p>Transformed:</p>
    <p>{{ toBeTransformed | morse:transformTo }}</p>
</div>




<router-outlet></router-outlet>