<h1>Nicky Hansen</h1>

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="text-danger">Angular Piping Morse & MD5</h1>
        <div class="form-group">
            <label for="toBeTransformed">String to be transformed</label>
        <input 
            type="text"
            name="toBeTransformed"
            id="toBeTransformed"
            class="form-control"
            [value]="toBeTransformed"
            (keyup)="toBeTransformed = $event.target.value"
        >
        </div>
        
        <div class="form-group">
            <label for="transformTo">Transform to:</label>
        <select 
            name="transformTo"
            id="transformTo"
            class="form-control"
            [value]="transformTo"
            (change)="transformTo = $event.target.value"
            >
            <option value="md5" selected>MD5</option>
            <option value="morse">Morse code</option>
            <option value="fromMorse">Morse to text</option>
        </select>
        </div>

        <div *ngIf="toBeTransformed && transformTo">
            <p>Transformed:</p>
            <p>{{ toBeTransformed | morse:transformTo }}</p>
        </div>
        

    </div>
</div>







<router-outlet></router-outlet>